{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
    <h1>Foo from external data!</h1>

    {{page.product.customFields.custom_training_text | raw}}
{% endblock %}